.container{
    margin-bottom: 50px;
}

.see-all{
    color: orange;
    font-size: 17px;
}

.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.card{
    border: none;
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.card-deck{
    margin-top: 50px;
    margin-bottom: 100px;
}

.card img{
    width: 70%;
}

.card-item-horizontal{
    justify-content: center;
}

.nav-item{
    font-weight: 700;
}

.card-text{
    color: gray;
}

h3, h5{
    font-weight: 700;
}

footer{
    text-align: center;
}